.example-form {
    min-width: 150px;
     width: 100%;
     padding: 500px;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-left: 30px;
    width:50%
  }
  .ml-right
  {
   margin-right: 50px;
  }

  .left-radio {
    
    padding: 12px !important;
}
.button-search
{
       float: right;
       background-color: #9e9e9e !important;

}