<div [class.blur-background]="showModal">
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <div class="login100-form-title" [style.background-image]="'url(assets/images/bg-01.jpg)'">
        </div>

        <form class="login100-form" [formGroup]="loginform" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline"  [class.alert-validate]="loginform.get('email')?.invalid">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Enter Address Email">
            <mat-error *ngIf="getErrorMessageE()">{{ getErrorMessageE() }}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline"  [class.alert-validate]="loginform.get('password')?.invalid">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" placeholder="Enter password">
            <mat-error *ngIf="getErrorMessageP()">{{ getErrorMessageP() }}</mat-error>
          </mat-form-field>

          <div class="flex-sb-m w-full p-b-30">
            <div class="contact100-form-checkbox">
            </div>

            <div class="form-inline fr mt-4">
              <a href="#" id="forgot" (click)="toggleModal(); $event.preventDefault()" class="txt1">Forgot Password?</a>
            </div>
          </div>


          <div class="container-login100-form-btn">
            <button type="submit" mat-raised-button  [disabled]="!loginform.valid" color="primary">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="modal fade show" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <p class="modal-title" id="exampleModalLabel"> <span style="font-size: 25px;font-weight:700">Forget your password?</span><br>
                  <small>Please provide your E-mail we will send the reset link</small></p>

              <button type="button" class="btn-close" (click)="toggleModal(); $event.preventDefault()" aria-label="Close"></button>

          </div>
          <div class="modal-body">
            <div class="form-group pt-3">
                <div class="input-field" style="width: 100%;">
                    <div class="input-icon-container input-group">
                        <span class="fa fa-envelope icon"></span>
                        <input [(ngModel)]="resetPasswordEmail" (ngModelChange)="checkValidEmail($event)" type="text" placeholder="Enter Email Address" >
                    </div>
                </div>
            </div>
            <small *ngIf="!resetPasswordEmail" class="text-danger">*Email is required*</small>
            <small *ngIf="!emailValid" class="text-danger">*Email is not valid. Must be a sofia-technologies.com*</small>
        </div>
        <div class="modal-footer">
            <button id="closeBtn" type="button" class="close-btn" (click)="toggleModal()">Close</button>
            <button type="button" (click)="confirmToSend()" class="Send-btn">Send</button>
        </div>
</div>
