<form [formGroup]="myform" >
  <h2 mat-dialog-title>{{inputdata.title}}</h2>
  <div >
    <div fxLayout="row wrap" class="align-items-center">
      <div fxFlex="100" fxFlex.gt-md="95">
    <mat-form-field appearance="outline">
      <mat-label>Department Name</mat-label>
      <input matInput formControlName="departmentName">
    </mat-form-field>
      </div>
    </div>
    <div fxLayout="row wrap" class="align-items-center">
      <div fxFlex="100" fxFlex.gt-md="95">
    <mat-form-field appearance="outline">
      <mat-label>Administrator</mat-label>
      <mat-select required [value]="selectedCategory" formControlName="adminId" >
        <mat-option value="{{inputdata.departmentAdmin}}" selected>{{inputdata.departmentAdmin}}</mat-option>
        <mat-option *ngFor="let option of Adminoptions" [value]="option.value">{{ option.label }}</mat-option>
      </mat-select>
    </mat-form-field>
    </div>
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <button (click)="Cancel()" mat-button color="warn">Close</button>
    <button mat-button (click)="Savedeparment()" color="primary" [disabled]="!myform.valid">Update</button>
  </div>
</form>
