<div fxLayout="row wrap">
  <div fxFlex="100">
      <mat-card>
          <mat-card-content>
              <div fxLayout="row wrap" class="align-items-center">
                  <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
                    <mat-form-field appearance="fill">
                      <mat-label>Search year Campaign  </mat-label>
                      <input matInput placeholder="Search Campaign" (keyup)="filter($event.target.value)">
                      <mat-icon matSuffix class="myIcon">search</mat-icon>
                    </mat-form-field>
                  </div>
                  <div fxFlex.gt-md="75" class="text-right">
                      <button mat-flat-button color="primary" mat-button  (click)="addCampagne()" >
                        <mat-icon>more_time</mat-icon> Add Campagne
                      </button>
                  </div>
              </div>
          </mat-card-content>
      </mat-card>
  </div>
</div>

<div fxLayout="row wrap">
  <div fxFlex="100">
      <mat-card>
          <div class="table-responsive">
              <table mat-table [dataSource]="dataSource" matSort class="no-wrap m-t-0 v-middle">

                  <ng-container matColumnDef="year">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="year" class="font-medium font-16 p-20">
                      <b>Campagne</b>
                  </th>
                  <td mat-cell *matCellDef="let row" class="p-20 font-normal"> Campagne {{row.year}} </td>
                  </ng-container>

                  <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef  class="font-medium font-16 p-20">

                      </th>
                      <td mat-cell *matCellDef="let row" class="p-20 font-normal"> </td>
                  </ng-container>


                  <ng-container matColumnDef="billFrom">
                      <th mat-header-cell *matHeaderCellDef  class="font-medium font-16 p-20">
                          </th>
                      <td mat-cell *matCellDef="let row" class="p-20 font-normal">
                      </td>
                  </ng-container>


                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-medium font-16"><b>Action</b></th>
                    <td mat-cell *matCellDef="let row">
                      <mat-slide-toggle color="Primary"  (change)="confirmStatus($event,row.id)" [checked]="row.status">
                      </mat-slide-toggle>
                    </td>
                </ng-container>


                  <ng-container matColumnDef="totalCost">
                      <th mat-header-cell *matHeaderCellDef  class="font-medium font-16 p-20">
                           </th>
                      <td mat-cell *matCellDef="let element" class="p-20 font-normal">
                      </td>
                  </ng-container>
                  <ng-container matColumnDef="billTo">
                    <th mat-header-cell *matHeaderCellDef  class="font-medium font-16 p-20">
                         </th>
                    <td mat-cell *matCellDef="let element" class="p-20 font-normal">
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">Aucune donnée correspondant au filtre</td>
                </tr>
              </table>

              <mat-paginator [pageSize]="7" [pageSizeOptions]="[7,20, 25,50, 100]" aria-label="Select page of users"></mat-paginator>
            </div>
      </mat-card>
  </div>
</div>
