<h2 class="font-medium" mat-dialog-title><strong>Edit User</strong></h2>
<mat-dialog-content class="pb-3" >
    <form #userForm="ngForm" [formGroup]="myform">
        <div fxLayout="row wrap" class="align-items-center">
            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <mat-form-field appearance="outline">
                      <mat-label>First Name</mat-label>
                        <input type="text" matInput required id="firstName" name="firstName"
                            placeholder="firstName" formControlName="firstName">
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <mat-form-field appearance="outline">
                      <mat-label>LastName</mat-label>
                        <input type="text" matInput required id="lastName" name="lastName"
                            placeholder="LastName" formControlName="lastName">
                    </mat-form-field>
                </div>

            </div>

            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <mat-form-field appearance="outline">
                      <mat-label>Select  Poste</mat-label>
                      <mat-select  [value]="selectedCategory"  formControlName="posteId">
                        <mat-option value="{{inputdata.posteId}}" selected>{{inputdata.poste}}</mat-option>
                        <mat-option *ngFor="let option of posteOptions" [value]="option.value" >{{ option.label }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex="100" fxFlex.gt-md="50">
              <div class="m-r-15 m-l-15">
                  <mat-form-field appearance="outline">
                    <mat-label>Compensation</mat-label>
                      <input type="number" matInput  id="compensation" name="compensation"
                          placeholder="compensation" formControlName="compensation">
                  </mat-form-field>
              </div>

          </div>
        </div>
        <br><br>
        <div mat-dialog-actions align="end" class="but">
        <button mat-button (click)="closeDialog()">Cancel</button>
        <button mat-button (click)="SaveUser()" mat-button color="primary"
        [disabled]="!userForm.valid">Update</button>
      </div>
    </form>

